body {
    margin-top: 20px;
}

header {
    padding: 40px 0 40px;
    color: rgb(44, 44, 48);
}

header h1 {
    margin: 0;
    padding: 0;
    line-height: 35px;
}

header h6 {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
}

main:before {
    content: "Mobile First < 576px";
    float: right;
    color: red;
}

section {
    min-height: 60vh;
}

h1 {
    text-align: center;
    text-transform: uppercase;

}

li {
    list-style-type: none;
}

footer {
    padding: 8px 30px 0;
}

footer small {
    position: relative;
    margin-left: 5px;
    bottom: 10px;
}

footer a {
    text-transform: lowercase;
    color: white;
}

footer li a {
    color: lightgrey;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

footer small {
    position: relative;
    float: right;
}

pre code {
    color: navy;
}

main.container {
    padding: 0;
}

.section {
    padding: 30px 20px;
}

.row {
    margin: 0 0 14px;
}

.caja {
    text-align: center;
}

@media (min-width: 576px) {
    main:before {
        content: "Small devices 576px";
    }
}

@media (min-width: 768px) {
    main:before {
        content: "Medium devices 768px";
    }
}

@media (min-width: 992px) {
    main:before {
        content: "Large devices 992px";
    }
}

@media (min-width: 1200px) {
    main:before {
        content: "Extra large devices 1200px";
    }
}